/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}


h6 {
  color: red;
}

p {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #515151;
}

.wrapper {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  padding: 51px 0px 166px 0px;
  display: flex;
  align-items: center;
}

.main__search {
  width: 759px;
  height: 71px;
  padding: 0px 33px;
  background: #c4c4c4;
  margin: 0 auto;
}

.busket {
    margin-left: auto;
}

.main__search::placeholder {
    color: #000000;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}

.main__section {
  display: flex;
}

aside.filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 35%;
}

.main__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 74px;
  flex: 1 1 65%;
}

.filter__category {
  display: flex;
  flex-direction: column;
}

.filter__price {
  display: flex;
  flex-direction: column;
}

.filter__color {
  display: flex;
  flex-direction: column;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 327px;
    height: 398px;
    gap: 10px;
}

.item__about {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
}

.item p {
    padding: 0 20px;
}

.item__about button {
  width: 144px;
  height: 33px;
  background: #c4c4c4;
}
